body {
    background: radial-gradient(#333, #222);
}

.baner {
  width: 350px;
}

fieldset {
  color: #ffffff;
  background-color: #111;
  width:300px;
  border-radius: 30px;
}

/* Menu de navegacion*/
#navegador {
  background-color: #111;
  width: 100%;
  list-style-type: none;
  margin: auto;
  padding: 1;
  overflow: hidden;
  background-color: #111;
  border-radius: 10px;
}

#navegador a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navegador a:hover {
  border-radius: 10px;
  background-color: #333;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

/*Menu inferior*/
.info {
  width: 100%;
  background-color: #000;
  text-align: center;
  font-family: serif;
  font-size: 12px;
  color: #ffffff;
  border-radius: 10px;
}

.icon {
  width: 50px;
}

.icon:hover {
  background-color: #333;
  border-radius: 50%;
 -webkit-transform:scale(1.1);
 -moz-transform:scale(1.1);
 -ms-transform:scale(1.1);
 -o-transform:scale(1.1);
 transform:scale(1.1);
}

a {
  color: #ffffff;
  text-decoration: none;
}

.map:hover {
  text-decoration: underline;
}
