body {
    background: radial-gradient(#333, #222);
}

table {
  background-color: #111;
  border-radius: 10px 10px 10px 10px;
}

th {
  color: #ffffff;
}

h1 {
  color: #222;
  font-size: 35px;
  text-shadow: 1px 1px #000;
}

.baner {
  width: 350px;
}

#costo {
  color: #4CAF50;
  font-size: 22px;
}

#comprar {
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#comprar:hover {
    background-color: #4CAF50;
    color: white;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

#votar {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

label {
  color: #000000;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 25px;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.imgjuego {
  width: 300px;
  border-radius: 5px;
}

.desjuego {
  width: 500px;
}

/* Menu de navegacion*/
#navegador {
  background-color: #111;
  width: 100%;
  list-style-type: none;
  margin: auto;
  padding: 1;
  overflow: hidden;
  background-color: #111;
  border-radius: 10px;
}

#navegador a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navegador a:hover {
  border-radius: 10px;
  background-color: #333;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

/*Menu inferior*/
.info {
  width: 100%;
  background-color: #000;
  text-align: center;
  font-family: serif;
  font-size: 12px;
  color: #ffffff;
  border-radius: 10px;
}

.icon {
  width: 50px;
}

.icon:hover {
  background-color: #333;
  border-radius: 50%;
 -webkit-transform:scale(1.1);
 -moz-transform:scale(1.1);
 -ms-transform:scale(1.1);
 -o-transform:scale(1.1);
 transform:scale(1.1);
}

a {
  color: #ffffff;
  text-decoration: none;
}

.map:hover {
  text-decoration: underline;
}
