/*========================================Generales*/
body {
  background:radial-gradient(#333,#222);
  margin: 0;
  padding: 0;
}

.baner {
  width: 350px;
}

h1 {
  color: #ffffff;
  font-size: 35px;
  text-shadow: 1px 1px #111;
}
/*========================================Generales*/

/*========================================index01*/
.cuerpo {
  border-radius: 10px;
  color: #ffffff;
  background-color: #111;
  width: 800px;
}

.cuerpo li {
  list-style-type: none;
  display: inline;
}

h2 {
  color: #ffffff;
}

.masven {
  width: 100px;
  border-radius: 5px;
}

.masven:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

.cuerpocon {
  color: #ffffff;
  background: #111;
  border-radius: 50%;
}

.cuerpocon li {
  display: inline;
}

.consol {
  display: inline;
  width: 200px;
  background: radial-gradient(#68b8ab, #4a7c59);
  border-radius: 50%;
}

.consol:hover {
  background: #faf3dd;
  border-radius: 50%;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
/*========================================index01*/

/*========================================index02*/
.listajue li {
  list-style-type: none;
  float: left;
}

.buscajue {
  color: #ffffff;
  background-color: #111;
  width: 500px;
}

.busc:hover {
  color: #ffffff;
  background-color: #333;
}

.lista {
  width: 200px;
}

.lista:hover {
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transform:scale(1.1);
}
/*========================================index02*/

/*========================================index03*/
.descrpjue {
  color: #ffffff;
  background-color: #111;
  height: 400px;
}

#costo {
  color: #4CAF50;
  font-size: 22px;
}

#comprar {
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#comprar:hover {
    background-color: #4CAF50;
    color: white;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

#votar {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.estrellas {
  color: #000000;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 25px;
}

.estrellas:hover,
.estrellas:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.imgjuego {
  float: left;
  width: 300px;
  border-radius: 5px;
}
/*========================================index03*/

/*========================================index04*/
.registro {
  width: 300px;
}

legend {
  text-align: center;
}

#fieldreg {
  color: #ffffff;
  text-align: center;
  background-color: #111;
  border-radius: 30px;
}

.enviar:hover {
  color: #ffffff;
  background-color: #333;
}
/*========================================index04*/

/*========================================index05*/
.comentarios {
  color: #ffffff;
  background-color: #111;
  width:150px;
  border-radius: 30px;
}
/*========================================index05*/

/*========================================index06*/
.gracias {
  width: 30%;
  height: 30%;
  color: #ffffff;
  background: radial-gradient(#333, #222, #111);
  border-radius: 10%;
  border-style: inset;
}

.volini {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 50px;
}

.volini:hover {
  background-color: #666;
  color: #111;
  border-radius: 50%;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
/*========================================index06*/

/*========================================index07*/
.comprar {
  color: #ffffff;
  background-color: #111;
  width:300px;
  border-radius: 30px;
}
/*========================================index07*/

/* Menu de navegacion*/
.navbar ul {
  list-style-type: none;
  margin: auto;
  padding: 1;
  overflow: hidden;
  background-color: #111;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  border-radius: 10px;
  background-color: #333;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

/*Menu inferior*/
.info {
  width: 100%;
  background-color: #000;
  text-align: center;
  font-family: serif;
  font-size: 12px;
  color: #ffffff;
}

.info th {
  width: 30%;
}

.map li {
  list-style-type: none;
}

.map a:hover {
  text-decoration: underline;
}

.redesf li {
  display: inline;
}

.icon {
  width: 50px;
}

.icon:hover {
  background-color: #333;
  border-radius: 50%;
 -webkit-transform:scale(1.1);
 -moz-transform:scale(1.1);
 -ms-transform:scale(1.1);
 -o-transform:scale(1.1);
 transform:scale(1.1);
}

a {
  color: #ffffff;
  text-decoration: none;
}
