/*========================================Generales*/
body {
  background-image: url("back.jpg");
  margin: 0;
  padding: 0;
}
.baner {
  width: 250px;
}
h1 {
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px 1px #111;
}
h2 {
  color: #ffffff;
}

/*========================================Menu de navegacion*/
.navbar ul {
  list-style-type: none;
  margin: auto;
  padding: 1;
  overflow: hidden;
  background-color: #000;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  border-radius: 10px;
  background-color: #333;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
.navbar button:hover {
  color: #ffffff;
  background-color: #333;
}

/*========================================Menu inferior*/
footer {
  /*position: fixed;*/
  margin: 0 auto auto auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  font-family: serif;
  font-size: 12px;
  color: #ffffff;
}
footer th {
  width: 30%;
}
footer li {
  list-style-type: none;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer img {
  width: 50px;
}
footer img:hover {
  background-color: #333;
  border-radius: 50%;
 -webkit-transform:scale(1.1);
 -moz-transform:scale(1.1);
 -ms-transform:scale(1.1);
 -o-transform:scale(1.1);
 transform:scale(1.1);
}

/*========================================index01*/
.masven {
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  /*background-color: #111;*/
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.masven li {
  list-style-type: none;
  display: inline;
}
.masven img {
  width: 100px;
  border-radius: 5px;
}
.masven img:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
.consol {
  text-align: center;
  color: #ffffff;
  background: #111;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.consol img {
  display: inline;
  width: 200px;
  background: radial-gradient(#68b8ab, #4a7c59);
  border-radius: 50%;
}
.consol img:hover {
  background: #faf3dd;
  border-radius: 50%;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

/*========================================index02*/
.listajue {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.6);
}
.listajue li {
  list-style-type: none;
  display: inline;
}
.listajue img {
  width: 150px;
}
.listajue img:hover {
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transform:scale(1.1);
}

/*========================================index03*/
.descrpjue {
  color: #ffffff;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.7);
  height: 400px;
}
.descrpjue p {
  text-align: left;
}
.descrpjue img {
  float: left;
  width: 30%;
  border-radius: 2%;
}

.clasificacion {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 25px;
}
.clasificacion input[type="radio"] {
  display: none;
}
.clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}
.clasificacion label {
  color: #ffffff;
  font-size: 20px;
}
.clasificacion label:hover,
.clasificacion label:hover ~ label {
  color: orange;
}
.clasificacion button {
  cursor: pointer;
}
.costo {
  color: #4CAF50;
  font-size: 22px;
}
.costo button {
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.costo button:hover {
    background-color: #4CAF50;
    color: white;
}

/*========================================index04*/
.registro fieldset {
  width: 20%;
  color: #ffffff;
  text-align: center;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10%;
}
.registro legend {
  text-align: center;
}
.registro button:hover {
  color: #ffffff;
  background-color: #333;
}

/*========================================index05*/
.comentarios fieldset {
  color: #ffffff;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.9);
  width:30%;
  border-radius: 10%;
  text-align: center;
}
.comentarios legend {
  text-align: center;
}
.comentarios button:hover {
  color: #ffffff;
  background-color: #333;
}

/*========================================index06*/
.gracias table {
  margin-top: 50px;
  width: 30%;
  height: 30%;
  color: #ffffff;
  background: radial-gradient(#333, #222, #111);
  border-radius: 10%;
  border-style: inset;
}
.gracias button:hover {
  color: #ffffff;
  background-color: #333;
}

/*========================================index07*/
.comprar fieldset {
  text-align: center;
  color: #ffffff;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.9);
  width:20%;
  border-radius: 10%;
}
.comprar legend {
  text-align: center;
}
.comprar button:hover {
  color: #ffffff;
  background-color: #333;
}

/*========================================botonlogin*/
.login input[type=text], .login input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Center the image and position the close button */
.login a {
  color: #ffffff;
}
.login a:hover {
  color: blue;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container {
  padding: 16px;
}
.login span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  color: #ffffff;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
    }
  .cancelbtn {
     width: 100%;
    }
}
